@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600');

body {
    font-family: 'Open Sans', sans-serif;
}

.signin-signup {
  z-index: 10;
  position: absolute;
  top: 20%;
  left: 40%;
  border: 1px solid black;
  padding: 20px 70px;
  background: rgba(204, 204, 204, 0.3);
}

.signin-signup input {
  display: block;
  margin-bottom: 20px;
}

.signin-signup input[type="submit"] {
  outline: none;
  background: white;
  border: 1px solid gray;
  padding: 5px;
  font-size: 15px;
  display: inline-block;
  margin-right: 10px;
}

.signup-form {
  display: none;
}